{% extends "base.html" %}

{% block content %}
<h1>Top 10 Customers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Notes</th>
      <th>Reservations</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <td>{{ customer.fullName }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.notes }}</td>
      <td>{{ customer.reservationCount }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
